@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css);
  
.image {
  border-radius: 0px;
/* Make an Image Responsive*/
 max-width: 100%;
 height: auto;
 margin-left: auto;
 margin-right: auto;
display: block;
}
   body {
      background-color: #57C293;
      font-family: "Metropolis";
      font-style: normal;
    }
    h1 {
  line-height: 1.1;
  color: aliceblue;
  margin-left: 16px;
  margin-right: 16px;
    }
    
    p {
     
      line-height: 1.3;
      color: aliceblue;
      margin-left: 16px;
  margin-right: 16px;
      }
    
      .button1 {
        margin-bottom: 15px;
        width: 343px;
        height: 50px;
        border-radius: 10px;
        color: #57C293;
        background-color: aliceblue;
        border: aliceblue;
        margin-left: auto;
        margin-right: auto;
           display: block;
  }
  .button2 {
     
    width: 343px;
    height: 50px;
    left: 16px;
    top: 710px;
    border-radius: 10px;
    color: aliceblue;
    background-color: #57C293;
    border: solid;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
display: block;
    
  }
  
  button:hover {
    background-color: rgb(55, 139, 218);
  }

  @media only screen and (min-width: 768px) {
    .image {
      border-radius: 0px;
    /* Make an Image Responsive*/
     max-width: 100%;
     height: auto;
     margin-left: auto;
     margin-right: auto;
    display: block;
    margin-top: -250px;
    
    }
    h1 {
      line-height: 1.1;
      color: aliceblue;
      margin-left: 16px;
      margin-right: 16px;
      text-align: center;
        }
        
        p {
         
          line-height: 1.3;
          color: aliceblue;
          margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 30px;
      text-align: center;
          }
        
          .button1 {
            margin-bottom: 15px;
            width: 343px;
            height: 50px;
            border-radius: 10px;
            color: #57C293;
            background-color: aliceblue;
            border: aliceblue;
            margin-left: auto;
            margin-right: auto;
               display: block;
      }
      .button2 {
         
        width: 343px;
        height: 50px;
        left: 16px;
        top: 710px;
        border-radius: 10px;
        color: aliceblue;
        background-color: #57C293;
        border: solid;
        border: 1px solid;
        margin-left: auto;
        margin-right: auto;
    display: block;
        
      }
      
      button:hover {
        background-color: rgb(55, 139, 218);
      }
    
   }